# Add the [Theme] section below to paracon.cfg

[Theme]
menu_key = #d55656,bold, #162130
menu_text = #cccccc, #162130
tabbar_unsel = dark gray, #162130
tabbar_sel = white,bold, #1d2b40
dropdown_item = light gray, black
dropdown_sel = #cccccc,bold, #3c3c3c
button_select = light gray, black
button_focus = #cccccc,bold, #3c3c3c
dialog_back = light gray, black
dialog_header = white,bold, #755b03
field_error = #f44747, #252526
window_norm = #805252, black
window_sel = #9b8ba7, black
monitor_text = #cccccc, black
monitor_call = #379690, black
monitor_own = #d9626d, black
monitor_relayed = #fbbf24, black
monitor_frame = dark gray, black
connection_inbound = #dddddd, black
connection_outbound = #d9626d, black
connection_error = #f44747, black
unproto_error = #f44747, black
entry_line = light gray, black
