# Add the [Theme] section below to paracon.cfg

[Theme]
menu_key = #b54040,bold, #1f1f1f
menu_text = #d2a1a1, #252526
tabbar_unsel = #858585, #252526
tabbar_sel = white,bold, #505050
dropdown_item = light gray, #1f1f1f
dropdown_sel = #cccccc,bold, #3c3c3c
button_select = light gray, #1f1f1f
button_focus = #cccccc,bold, #3c3c3c
dialog_back = light gray, #1f1f1f
dialog_header = white,bold, #af690d
field_error = #f44747, #252526
window_norm = #945f5f, #1f1f1f
window_sel = #6a886f, #1f1f1f
monitor_text = #cccccc, #1f1f1f
monitor_call = #80d0a3, #1f1f1f
monitor_own = #d9626d, #1f1f1f
monitor_relayed = #ffd77a, #1f1f1f
monitor_frame = dark gray, #1f1f1f
connection_inbound = #dddddd, #1f1f1f
connection_outbound = #d9626d, #1f1f1f
connection_error = #f44747, #1e1e1e
unproto_error = #f44747, #1e1e1e
entry_line = #d4d4d4, #3c3c3c