# Add the [Theme] section below to paracon.cfg

[Theme]
menu_key = #3c40f6,bold, #ccd0da
menu_text = #303243, #ccd0da
tabbar_unsel = #9ca0b0, #dce0e8
tabbar_sel = #4c4f69,bold, #bcc0cc
dropdown_item = #4c4f69, #eff1f5
dropdown_sel = #eff1f5,bold, #1e66f5
button_select = #4c4f69, #eff1f5
button_focus = #eff1f5,bold, #1e66f5
dialog_back = #4c4f69, #eff1f5
dialog_header = #1e66f5,bold, #dce0e8
field_error = #f44747, #eff1f5
window_norm = #9ca0b0, #eff1f5
window_sel = #179299, #eff1f5
monitor_text = #1a1b22, #eff1f5
monitor_call = #179299, #eff1f5
monitor_own = #e64553, #eff1f5
monitor_relayed = #df8e1d, #eff1f5
monitor_frame = #9ca0b0, #eff1f5
connection_inbound = #4c4f69, #eff1f5
connection_outbound = #e64553, #eff1f5
connection_error = #f44747, #eff1f5
unproto_error = #f44747, #eff1f5
entry_line = #1a1b22, #e6e9ef
